
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}



section {
    margin: 20px;
}

#galeria {
    margin: 20px;
    padding: 15px; 
    text-align: center; 
    position: relative; 
    background-image: url('/assets/Media/fondo.jpg'); 
    background-repeat: repeat; 
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.image-container img {
    width: 300px; 
    height: auto; 
    margin: 0 5px; 
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 15px;
    display: block;
    transition: transform 0.3s; 
}

img:hover {
    transform: scale(0.9); 
}


/* Estilo para el pie de página */
footer {
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}

#contenido {
    background-color: #f0f0d8;
    padding: 20px;
    text-align: center;
}

#contenido img {
    width: 200px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5em;
    color: #2176ff;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 15px;
}

#enlace-externo {
    background-image: url('/assets/Media/fondo-enlace-externo.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    text-align: center; 
    padding: 50px; 
}

#enlace-externo p {
    font-size: 1.2em; 
}

.botones-musica {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 200px; /* Altura del cuadro, ajusta según sea necesario */
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 20px; /* Espacio alrededor del cuadro */
    padding: 20px; /* Espaciado interno del cuadro */
}

.botones-musica button {
    width: 200px; /* Ajusta según sea necesario */
    height: 100px; /* Ajusta según sea necesario */
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-position: center;
    background-size: cover;
    text-align: center; /* Centrar el texto */
    overflow: hidden; /* Ocultar el desbordamiento de la imagen */
}

.botones-musica button:hover {
    background-color: #165aad;
    transform: scale(1.1); /* Escala del 110% al pasar el cursor */
}
