/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Estilo general para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}


/* Estilo para el contenido principal */
section {
    margin: 20px;
}

#galeria {
    margin: 20px;
    padding: 15px; 
    text-align: center; 
    position: relative; 
    background-image: url('/assets/Media/fondo.jpg'); 
    background-repeat: repeat; 
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.image-container img {
    width: 300px; 
    height: auto; 
    margin: 0 5px; 
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 15px;
    display: block;
    transition: transform 0.3s; 
}

img:hover {
    transform: scale(0.9); 
}


/* Estilo para el pie de página */
footer {
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}

#contenido {
    background-color: #f0f0d8;
    padding: 20px;
    text-align: center;
}

#contenido img {
    width: 200px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5em;
    color: #2176ff;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 15px;
}

.link-con-flecha {
    position: relative;
    display: inline-block;
}

.link-con-flecha::after {
    content: "\2192\00a0"; /* Código unicode para la flecha a la derecha con espacio adicional */
    font-size: 1.2em;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#enlace-externo {
    background-image: url('/assets/Media/fondo-enlace-externo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    color: #fff; /* Color del texto para asegurarse de que sea legible en el fondo */
    text-align: center; /* Centra el texto */
    padding: 50px; /* Ajusta el espaciado interno según sea necesario */
}

#enlace-externo p {
    font-size: 1.2em; /* Ajusta el tamaño del texto según sea necesario */
}