body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    top: 50px;
    right: 50px;
    align-items: end;
}


header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


section {
    padding: 100px 0;
    text-align: center;
}

#seccion1 {
    background-image: url('/assets/Media/fondok.jpg');
    width: 100%;
    height: 400px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

#seccion2, #seccion3 {
    background-color: bisque;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    text-align: center;
    border: 2px solid #fff; 
}

.overlay-text h1,
.overlay-text p.subtle-text {
    color: #fff;
    font-family: 'Cursive', sans-serif; 
    font-style: italic; 
}

.overlay-text p.subtle-text {
    margin-top: 10px;
}

#seccion2 {
    background-color: bisque;
    padding: 50px 0;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-box {
    position: relative;
    margin: 10px;
    max-width: 300px; 
}

.image-box img {
    width: 100%;
    height: auto;
    border: 5px solid #ffa500; 
}

.description-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.description {
    max-width: 300px; 
    text-align: center;
    padding: 20px;
}

.description h2 {
    margin-bottom: 10px;
}

#seccion3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion4 {
    padding: 100px 0;
    text-align: center;
    background-color: #f0f0d8; 
}

.section-title {
    color: #000; 
    font-style: italic; 
}

.image-list-container {
    overflow-x: auto; 
    margin-top: 20px;
}

.image-list {
    white-space: nowrap; 
}

.image-list img {
    width: 200px; 
    height: auto;
    margin-right: 10px; 
    transition: transform 0.3s; 
}

.image-list img:hover {
    transform: scale(0.9); 
}

#seccion5 {
    background-color: #f0f0d8;
    padding: 100px 0;
    text-align: center;
    color: #000;
    transition: color 0.5s;
}

#seccion5:hover {
    color: #00bcd4;
}

.content-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.content-left {
    max-width: 50%;
    margin-right: 20px; 
}

.content-right {
    max-width: 50%;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.section-title {
    font-style: italic;
    color: #000;
}

.section-paragraph {
    font-size: 16px;
    margin-top: 10px;
    color: #000;
    max-width: 300px; 
}

#open-donation-form {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #00bcd4;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#open-donation-form:hover {
    background-color: #007c89;
}

.hidden {
    display: none;
}

#donaciones {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f0f0d8;
    border-radius: 5px;
    background-color: #f0f0d8;
}

#donaciones label {
    display: block;
    margin-bottom: 8px;
}

#donaciones input,
#donaciones select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#donaciones button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
}

#donaciones button:hover {
    background-color: #007c89;
}

#seccion6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rectangulo {
    width: 45%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.rectangulo h2 {
    font-size: 30px; 
    margin-bottom: 10px;
}

.rectangulo p {
    font-size: 16px;
    margin: 0;
}